/* Start login */

.login-fo {
    padding: 40px;
}

.login-fo .container {
    background-color: #1c1816;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-fo .container .imag-chef {
    width: 250px;
}

.login-fo .container .collect .phon  {
    background-color: #262221;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}

.login-fo .container .collect .phon::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

.login-fo .container .collect .phon label {
    font-size: 14px;
}


.login-fo .container .collect .phon input {
    outline: none;
    border: none;
    padding: 4px;
    background-color: #262221;
    border-left: 2px solid var(--text-color);
    color: var(--text-color);
    margin-top: 3px;
    margin-left: 4px;
}

.login-fo .container .collect .phon .ooo {
    display: flex;
    align-items: center;
}

.login-fo .container .collect .submit {
    width: 100%;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.login-fo .container .collect .submit:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

.login-fo .container .collect .loginwith {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.login-fo .container .collect .loginwith a {
    color: var(--text-color);
}

/* End login */
